$header-bg: #CC92C2;
$main-bg: #3C6997;
$aside-bg: #FFDD4A;
$black: #000;
$white: #FFF;

@mixin flex($direction: column, $align: center, $justify: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.body {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Lato', 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    @include flex(column, center, start);

    .header {
        width: inherit;
        height: 3.5rem; /* temporary */
        background-color: #f9f9f9;
        @include flex(row, center, space-between);
        padding: 0 1.75rem;

        .logo-ham {
            width: 14%;
            height: inherit;
            @include flex(row, center, space-between);

            #menu {
                width: 32px;
                height: 32px;
            }

            a {
                text-decoration: none;
                color: $black;

                .brand {
                    @include flex(row, center, space-between);
    
                    #logo {
                        height: 24px;
                        width: auto;
                        margin-right: .25em;
                    }
    
                    h1 {
                        font-size: 28px;
                        font-weight: 700;
                    }
                }
            }
        }

        .searchbar {
            background-color: $black;
            width: 55%;
            height: inherit;
        }

        .navigation {
            background-color: coral;
            width: 20%;
            height: inherit;
        }
    }

    .main {
        width: inherit;
        height: 50rem; /* temporary */
        background-color: $main-bg;
        padding: 1.75rem 4.5rem;
        @include flex(row, center, space-between);

        .video-section {
            width: 65%;
            background-color: $white;
            height: inherit;
            padding: 2rem 0;
            @include flex(column, center, start);

            .video {
                width: 100%;
                aspect-ratio: 16 / 9;
                background-color: $black;

                iframe {
                    width: inherit;
                    height: 100%;
                }
            }
        }

        .thumbnails-section {
            width: 32.5%;
            background-color: $aside-bg;
            height: inherit;
        }
    }
}